.App {
text-align: center;
}

.Inputs{
  text-align: center;
}

.Inputs input{
  padding: 10px;
  outline: none;
  border: 0;
  border-radius: 20px;
  width: 350px;
  font-weight: bold;
  color: black;
  background-color:  lightgray;
  display: block; 
  margin: 10px auto;
}
label{
  display: block;
  margin: 10px;
}
.Go{
  outline: none;
  border: 0;
  color: white;
  background-color:  #29B6F6;
  padding: 10px;
  border-radius: 20px;
  width: 8%;
  cursor:pointer;
}
button:hover{
  background-color: #2196F3;
}
.BottomBtns{
  outline: none;
  border: 0;
  color: white;
  background-color:  #29B6F6;
  padding: 10px;
  margin:10px;
  border-radius: 20px;
  width: 140px;
  cursor:pointer;
}